streamlit
tensorflow
numpy
pandas
scikit-learn
matplotlib
seaborn
textblob
nltk
spacy
joblib
wordcloud
altair
transformers
torch
sentencepiece
emoji
spacytextblob
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
